<!-- <form action="/client/recipes/" method="post"> -->
<%= form_tag "/client/recipes", method: :post do %>
  <div>
    Title: <input type="text" name="title">
  </div>

  <div>
    Prep Time: <input type="text" name="prep_time">
  </div>

  <div>
    Ingredients: <input type="text" name="ingredients">
  </div>

  <div>
    Directions: <input type="text" name="directions">
  </div>

  <div>
    Image URL: <input type="text" name="image_url">
  </div>

  <input type="submit" value="SEND 'ER">
<!-- </form> -->
<% end %>