<!DOCTYPE html>
<html>
  <head>
    <title>CookbookClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div>
      <a href="/client/recipes">All the chumsies</a>
      <a href="/client/recipes/new">New chum</a>
      
    </div>
    <%= yield %>
    <div>
      <br>
      <br>
      <br>
      <img src="https://i.imgur.com/2SPUZLR.gif">
    </div>
  </body>
</html>
